Repository avaly/paddle-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

fix: Get users transactions correctly (#40)
  .lintstagedrc
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

feat: Support transactions page
  Documentation.md
  __tests__/transactions.test.js
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

feat: Support transactions page (#41)
  Documentation.md
  __tests__/transactions.test.js
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

chore(release): 2.4.0
  CHANGELOG.md
  Documentation.md
  package.json
Due: none

fix(types): Correct line endings (LF)
  sdk.d.ts
Due: none

chore: remove package lock
  package-lock.json
Due: none

chore: Correct line endings
  sdk.d.ts
Due: none

revert: yarn.lock
  yarn.lock
Due: none

feat: Optional arguments for getProductPlans, getPlanUsers, getPlanPayments (#36)
  Documentation.md
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

chore(release): 2.5.0
  CHANGELOG.md
  Documentation.md
  package.json
Due: none

fix: Sandbox argument type
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

chore(release): 2.5.1
  CHANGELOG.md
  Documentation.md
  package.json
Due: none

feat: Add support for Checkout server, add new endpoints and more parameters, refactor code.
  __tests__/attributes.test.js
  sdk.d.ts
  sdk.js
  yarn.lock
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

test: getUsers() and getOrderDetails()
  __tests__/orders.test.js
  __tests__/users.test.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js'

test: Checkout server URL
  __tests__/attributes.test.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js'

fix: getPlanUsers didn't work without planID
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

docs: updateSubscription methods params
  sdk.d.ts
  sdk.js
  yarn.lock
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

feat: Add support for Checkout API, new endpoints, more parameters (#47)
  __tests__/attributes.test.js
  __tests__/orders.test.js
  __tests__/users.test.js
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

refactor: Update node version
  .github/workflows/ci.yaml
  package.json
Due: none

docs: Tag private method with @private
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

chore(release): 3.0.0
  CHANGELOG.md
  Documentation.md
  package.json
Due: none

feat: Add reschedule payment API endpoint
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

Add pause/renew subscription
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

fix pause type
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

feat: pause / renew tests
  __tests__/subscriptions.test.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js'

feat: pause / renew subscription (#54)
  __tests__/subscriptions.test.js
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

chore(release): 3.1.0
  CHANGELOG.md
  Documentation.md
  package.json
Due: none

test: add tests for reschedule payment API endpoint
  __tests__/subscriptions.test.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js'

feat: create subscription modifier
  __tests__/subscriptions.test.js
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

feat: Create subscription modifier (#56)
  __tests__/subscriptions.test.js
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

chore(release): 3.2.0
  CHANGELOG.md
  Documentation.md
  package.json
Due: none

refactor: rescope single use variable
  __tests__/subscriptions.test.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js'

refactor: change reschedulePayment param to Date type
  __tests__/subscriptions.test.js
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

Update sdk.js
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

Update Documentation.md
  Documentation.md
Due: none

test: Update Github actions versions
  .github/workflows/ci.yaml
Due: none

feat: Add reschedule payment API endpoint (#52)
  __tests__/subscriptions.test.js
  sdk.d.ts
  sdk.js
Due: prettier --write --list-different, eslint --fix --ignore-pattern '!.eslintrc.js', yarn declaration:build, git add sdk.d.ts

chore(release): 3.3.0
  CHANGELOG.md
  Documentation.md
  package.json
Due: none

Path conditions:
  prettier --write --list-different: any of: *.js
  eslint --fix --ignore-pattern '!.eslintrc.js': any of: *.js
  yarn declaration:build: any of: sdk.js
  git add sdk.d.ts: any of: sdk.js
